{% for user in ocserv_users %}
{% if user.enabled | default(true) %}
{{ user.name }}:{{ user.group | default("") }}:{{ user.password_hash | default(user.password | password_hash('sha512')) }}
{% endif %}
{% endfor %}

