auth = "plain[/etc/ocserv/ocpasswd]"
tcp-port = {{ ocserv_tcp_port }}
udp-port = {{ ocserv_udp_port }}
run-as-user = nobody
run-as-group = daemon
server-cert = /etc/ocserv/server-cert.pem
server-key = /etc/ocserv/server-key.pem
isolate-workers = true
max-clients = {{ ocserv_max_clients }}
max-same-clients = {{ ocserv_max_same_clients }}
keepalive = {{ ocserv_keepalive }}
dpd = {{ ocserv_dpd }}
mobile-dpd = {{ ocserv_mobile_dpd }}
compression = {{ "true" if ocserv_compression else "false" }}
ipv4-network = {{ ocserv_ipv4_network }}
ipv4-netmask = {{ ocserv_ipv4_netmask }}
device = {{ ocserv_device }}
mtu = 1420
{% for route in ocserv_routes %}
route = {{ route }}
{% endfor %}
{% for route in ocserv_no_routes %}
no-route = {{ route }}
{% endfor %}
{% for dns in ocserv_dns_servers %}
dns = {{ dns }}
{% endfor %}
{% if ocserv_service_domain %}
default-domain = {{ ocserv_service_domain }}
{% endif %}
tls-priorities = "NORMAL:%SERVER_PRECEDENCE:%COMPAT"
auth-timeout = 240
idle-timeout = 1200
mobile-idle-timeout = 1800
cert-user-oid = 2.5.4.3
cisco-client-compat = true
tunnel-all-dns = true
dtls-legacy = true
ban-points = 0
session-timeout = 86400
use-occtl = true
{% for host in ocserv_authorized_hosts %}
restrict-user-to-host = {{ host }}
{% endfor %}

