---
# Gateway for handling external HTTP/HTTPS traffic through egress gateway
apiVersion: networking.istio.io/v1beta1
kind: Gateway
metadata:
  name: istio-egressgateway
  namespace: istio-system
spec:
  selector:
    istio: egressgateway
  servers:
    - port:
        number: 80
        name: http
        protocol: HTTP
      hosts:
        - "*"
    - port:
        number: 443
        name: https
        protocol: TLS
      hosts:
        - "*"
      tls:
        mode: ISTIO_MUTUAL
---
# VirtualService to route all external traffic through the egress gateway
apiVersion: networking.istio.io/v1beta1
kind: VirtualService
metadata:
  name: direct-external-through-egress-gateway
  namespace: istio-system
spec:
  hosts:
    - "*"
  gateways:
    - mesh
  http:
    - match:
        - gateways:
            - mesh
          port: 80
      route:
        - destination:
            host: istio-egressgateway.istio-system.svc.cluster.local
            subset: http
            port:
              number: 80
  tls:
    - match:
        - gateways:
            - mesh
          port: 443
          sniHosts:
          - "*"
      route:
        - destination:
            host: istio-egressgateway.istio-system.svc.cluster.local
            subset: https
            port:
              number: 443
---
# DestinationRule for the egress gateway
apiVersion: networking.istio.io/v1beta1
kind: DestinationRule
metadata:
  name: egressgateway-for-proxy
  namespace: istio-system
spec:
  host: istio-egressgateway.istio-system.svc.cluster.local
  subsets:
  - name: http
    trafficPolicy:
      loadBalancer:
        simple: ROUND_ROBIN
      portLevelSettings:
      - port:
          number: 80
        tls:
          mode: DISABLE
  - name: https
    trafficPolicy:
      loadBalancer:
        simple: ROUND_ROBIN
      portLevelSettings:
      - port:
          number: 443
        tls:
          mode: ISTIO_MUTUAL

---
apiVersion: networking.istio.io/v1beta1
kind: VirtualService
metadata:
  name: egress-gateway-upstream-external
  namespace: istio-system
spec:
  hosts:
  - "www.google.com"
  - "google.com"
  - "example.com"
  gateways:
  - istio-egressgateway
  tls:
  - match:
    - port: 443
      sniHosts:
      - "www.google.com"
    route:
    - destination:
        host: www.google.com
        port:
          number: 443
  - match:
    - port: 443
      sniHosts:
      - "google.com"
    route:
    - destination:
        host: google.com
        port:
          number: 443
  - match:
    - port: 443
      sniHosts:
      - "example.com"
    route:
    - destination:
        host: example.com
        port:
          number: 443
