- name: Set frpclient directory path
  ansible.builtin.set_fact:
    frpclient_dir: "{{ ansible_env.HOME }}/fclient"

- name: Find all template files
  ansible.builtin.find:
    paths: "{{ role_path }}/templates/frpc"
    recurse: yes
    file_type: file
  register: template_files
  delegate_to: localhost
  run_once: true

- name: Template files individually
  ansible.builtin.template:
    src: "{{ item.path | replace(role_path + '/templates/', '') }}"
    dest: "{{ frpclient_dir }}/{{ item.path | replace(role_path + '/templates/frpc/', '') | regex_replace('\\.j2$', '') }}"
    mode: "0777"
  loop: "{{ template_files.files }}"
  loop_control:
    label: "{{ item.path | replace(role_path + '/templates/frpc/', '') | regex_replace('\\.j2$', '') }}"
  notify: Restart compose
