Match host *-srv.shiron.dev exec "/opt/homebrew/bin/cloudflared access ssh-gen --hostname %h"
  ProxyCommand /opt/homebrew/bin/cloudflared access ssh --hostname %h
  IdentityFile ~/.cloudflared/%h-cf_key
  CertificateFile ~/.cloudflared/%h-cf_key-cert.pub
  User ubuntu
  
Host edu-gpu
  HostName 127.0.0.1
  Port 6000
  ProxyJump snct-proxy-srv.shiron.dev
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
  IdentitiesOnly yes
  IdentityFile /Users/s28628/projects/github.com/kizuna-org/infrastructure/ansible/data/edu-gpu.pub
  PubkeyAuthentication yes
  PasswordAuthentication no
